---
import Card from "../Card/index.astro";
---

<script>
  import L from 'leaflet'
  import 'leaflet/dist/leaflet.css';
  const ACCESS_TOKEN = import.meta.env.PUBLIC_JAWG_ACCESS_TOKEN

  
  var SGMap = L.map('mapID', {
    zoomControl: false,
    zoomSnap: 0.5,
  }).setView([1.33, 103.82]);
  
  const innerWidth = screen.width;
  // if innerWidth > lg-width (1024px)
  // use zoom 10
  // elif innerWidth > md-width (768px)
  // use zoom 12
  // else 
  // use zoom 11
  if (innerWidth >= 1024){
    SGMap.setZoom(10).setMinZoom(10)
  }
  else if (innerWidth >= 768){
    SGMap.setZoom(11).setMinZoom(11)
  }
  else{
    SGMap.setZoom(10).setMinZoom(10)
  }
  
  L.tileLayer(`https://tile.jawg.io/jawg-streets/{z}/{x}/{y}{r}.png?access-token=${ACCESS_TOKEN}`, {}).addTo(SGMap);
  SGMap.attributionControl.addAttribution("<a aria-label=\"Map of Singapore\" href=\"https://www.jawg.io?utm_medium=map&utm_source=attribution\" target=\"_blank\">&copy; Jawg</a> - <a href=\"https://www.openstreetmap.org?utm_medium=map-attribution&utm_source=jawg\" target=\"_blank\">&copy; OpenStreetMap</a>")

  // Creating Avatar
  // TODO: To change avatar icon and popup text
  var avatarIcon = L.icon({
    iconUrl: 'me.webp',
    iconSize:     [50, 50], // size of the icon
});
  L.marker([1.4382, 103.7890], {icon: avatarIcon}).addTo(SGMap).bindPopup("Hello!");;

</script>

<div id="mapID" class="card w-full sm:min-h-[400px] lg:min-h-0 group lg:overflow-y-auto transform-y-[-40%] bg-darkslate-500 shadow-lg rounded-lg border border-darkslate-100 hover:border-primary-500 align-start flex-none justify-start transform perspective-1200 transition duration-75 ease-in-out col-span-1 m-0 p-0 sm:col-span-2 md:col-span-1 lg:col-span-1 sm:row-span-1 md:row-span-3 lg:row-span-2" title="Map of Singapore"/>
