---
interface Props {
  title: string;
  description: string;
  page?: "travel" | "projects";
  slug?: string | undefined;
  frontmatter?: {
    file: string;
    url: string | undefined;
  } & {
    title: string;
    description: string;
    date: string;
    minutesRead: string;
    image?: string;
  };
}

const { title, description, page, slug, frontmatter } = Astro.props;
const image =
  page === "travel"
    ? `${Astro.url.origin}/globe_preview.webp"`
    : `${Astro.url.origin}/og-image.png`;

const schema =
  page !== "projects"
    ? {
        "@context": "http://schema.org",
        "@type": "Person",
        name: "Gianmarco",
        url: "https://gianmarco.xyz",
        sameAs: [
          "https://www.linkedin.com/in/gianmarco-cavallo",
          "https://github.com/Ladvace",
        ],
        image: "https://gianmarco.xyz/og-image.png",
        jobTitle: "Freelance Frontend Developer",
        worksFor: {
          "@type": "Organization",
          name: "Self-Employed",
          address: {
            "@type": "PostalAddress",
            addressLocality: "Italy",
            addressCountry: "IT",
          },
        },
        nationality: {
          "@type": "Country",
          name: "Italy",
        },
      }
    : {
        "@context": "http://schema.org",
        "@type": "projectsPosting",
        mainEntityOfPage: {
          "@type": "WebPage",
          "@id": `https://gianmarco.xyz/projects/${slug}`,
        },
        headline: frontmatter?.title || title,
        description: frontmatter?.description || title,
        image: "https://gianmarco.xyz/og-image.png", //TODO: dynamic
        author: {
          "@type": "Person",
          name: "Gianmarco",
          url: "https://gianmarco.xyz",
          sameAs: [
            "https://www.linkedin.com/in/gianmarco-cavallo",
            "https://github.com/Ladvace",
          ],
        },
        publisher: {
          "@type": "Organization",
          name: "Gianmarco",
          logo: {
            "@type": "ImageObject",
            url: "https://gianmarco.xyz/og-image.png",
          },
        },
        datePublished: frontmatter?.date || new Date().toISOString(),
        dateModified: frontmatter?.date || new Date().toISOString(),
      };

import '@/base.css'

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="/favicon/sitemap-index.xml" />
    <!-- Basic OG tags for sharing your website's content on platforms like Facebook and LinkedIn -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.origin} />
    <meta
      property="og:image"
      content={image || "https://gianmarco.xyz/og-image.png"}
    />
    <!-- Basic Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content={image || "https://gianmarco.xyz/og-image.png"}
    />

    <link rel="preconnect" href="https://cdn.fontshare.com" />
    <script type="application/ld+json" set:html={JSON.stringify(schema)} />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  </head>
  <body
    class="bg-zinc-900 lg:h-min flex flex-col justify-center items-center ease-in"
  >
    <slot name="loader" />
    <slot />
  </body>
</html>