---
import { formatDate } from "../lib/helpers";
import type { MarkdownLayoutProps } from "astro";
import BasicLayout from "./BasicLayout.astro";
import Layout from "./Layout.astro";
import { Image } from "astro:assets";

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
  date: string;
  minutesRead: string;
  image?: string;
}>;

const { slug } = Astro.params;
const { frontmatter } = Astro.props;
---

<!-- TODO: Change BasicLayout to Layout so as to get loading animation (would it be too much animation?) -->

<BasicLayout
  frontmatter={frontmatter}
  slug={slug}
  title={`${frontmatter.title} | Enoch Mok`}
  description={frontmatter.description}
>
  <main class="w-full h-full relative flex flex-col justify-start items-start max-w-3xl mx-auto p-8 prose prose-headings:font-poppins font-notosans prose-invert">
    <a
      href="/projects"
      class="text-white bg-zinc-900 hover:bg-zinc-800 px-4 py-2 border-1 border-solid border-zinc-600 rounded-lg mb-8"
      >Back</a
    >
    <div class="mb-6 w-full">
      <h1 class="text-5xl font-poppins">{frontmatter.title}</h1>
      {frontmatter.image ? <Image src={frontmatter.image || ""} alt={"Image of ".concat(frontmatter.title)} width="800" height="100" class="rounded-3xl shadow-2xl"/> : ""}
      
      <div class="flex justify-between pt-4 text-zinc-500 text-sm">
        <p>{formatDate(new Date(frontmatter.date))}</p>
        <p>{frontmatter.minutesRead}</p>
      </div>
    </div>
    <article class="prose prose-zinc prose-invert">
      <slot />
    </article>
  </main>
</BasicLayout>
